<!-- <div>
    <h1>Set Password</h1>
    <form class="example-form" [formGroup]='setPasswordFrom'  (ngSubmit)='formSubmit()'>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="email" matInput placeholder="Enter password" autocomplete="off" formControlName="password">
            <mat-error>
                Please Enter Password
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="email" matInput placeholder="Enter Confirm password" autocomplete="off" formControlName="confirmPassword">
            <mat-error>
                Please Enter Confirm Password
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div> -->

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div><img src="../../../../assets/images/sidebar_logo.jpg"></div>
        </div>
        <div class="col-md-8">
            <div class="card border-0">
                <div class="card-header">Set Password</div>
                <div class="card-body">
                    <form [formGroup]='setPasswordFrom'  (ngSubmit)='formSubmit()' class="login_form">
                        <div class="form-group row mt-2 justify-content-center">
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <input type="password" class="form-control" formControlName="password" autofocus>
                                </div>
                                <div>
                                    <label for="password">Confirm Password</label>
                                    <input type="password" class="form-control" name="password" formControlName="confirmPassword">
                                </div>
                                <button type="submit" class="btn btn-dark mt-4 d-block m-auto" style="width: 120px;">Submit</button>
                            </div>
                        </div>
                           
                            <!-- <a href="#" class="btn btn-link">
                                Forgot Your Password?
                            </a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
