<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Question</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" [routerLink]="['/question/add']">Add Question</button>
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [ngModel]="fStatus" (ngModelChange)="fStatusChange($event)">
                    <mat-option value="">Select Status</mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
            <br>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 2%;">#</th>
                        <th scope="col" style="width: 10%;">Category Name</th>
                        <th scope="col" style="width: 50%;">Question</th>
                        <th scope="col" style="width: 5%;">Rank No</th>
                        <th scope="col" style="width: 8%;">No Of Reports</th>
                        <th scope="col" style="width: 10%;">Ask By</th>
                        <th scope="col" style="width: 8%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questionList;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{question?.category?.name ?? "none"}}</td>
                        <td class="table-text-overflow">{{question.question}}</td>
                        <td>{{question.rank}}</td>
                        <td>{{question.reports}}</td>
                        <td>{{question.user.name}}</td>
                        <td>
                            <a class="m-1" (click)="delete(question._id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="m-1" [routerLink]="['/question/edit/'+question._id]">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="m-1" [routerLink]="['/question/view/'+question._id]">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator (page)="onChangedPage($event)" [length]="listCount" [pageSize]="listLength"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            <div *ngIf="!datafetchSuccessfully" class="text-center">
                Loading....
            </div>
            <br>
        </div>
    </div>
</div>